.Header-wrapper {
  background: rgb(74, 156, 206);
  background: linear-gradient(
    148deg,
    rgba(74, 156, 206, 1) 0%,
    rgba(92, 107, 203, 1) 100%
  );
}
.HeaderNewsComponent {
  color: yellow;
  position: relative;
  &-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
